extends base

block main
	main.main
		.reset-form
			h2.heading-secondary.ma-bt-lg Please Enter Your Email
			form.form.form--reset
				.form__group
					label.form__label(for='email') Email
					input#email.form__input(type='email', placeholder='you@example.com', required)
				.form__group
					button.btn.btn--green Submit