//- Remark: Child overview inheriting parent base. i.e. the whole base except the block is copied here.
extends base

block main
	//- Note: Redefining mainblock of the base
	h1 This is the tour overview